<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CrmPlayground.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <CrmPlayground.Properties.Settings>
            <setting name="OverrideUsername" serializeAs="String">
                <value>trestin.bradley@skykick.com</value>
            </setting>
            <setting name="OverridePassword" serializeAs="String">
                <value>tb1116940+</value>
            </setting>
            <setting name="CrmOrgName" serializeAs="String">
                <value>skykick</value>
            </setting>
            <setting name="CrmServerAddress" serializeAs="String">
                <value>crm.dynamics.com</value>
            </setting>
            <setting name="CrmDiscoveryUrl" serializeAs="String">
                <value>https://disco.crm.dynamics.com/XRMServices/2011/Discovery.svc</value>
            </setting>
            <setting name="CrmOrgServiceUrl" serializeAs="String">
                <value>https://cloudvisors.api.crm.dynamics.com/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="CrmUsername" serializeAs="String">
                <value>crm_plugins@skykick.com</value>
            </setting>
            <setting name="CrmPassword" serializeAs="String">
                <value>SD+uwCSUgeEu7u6BpWWWiJXvIo6GVz4zsi+WU4Qy3hQGg8abVhZiJ/2nmXiKNR6eJ66AEPSx1Wy/FK3qO9Qior3M+MhCWSotg0ND//Se6y4fS3wcFLGjfTfhcVMTrmN6mPu11euszzWGDziUgIB0uUiMHeAr9acnIBpYhgZ9TZkMlOlWGMybPVquPnmXnvi5gQ2lMGWHOKk9qey8FL92d4Kw9ZrifAA9tOBY4kQR7pFM+WTM0rnhvU9NognUdZYZHNKSUcqntLwAnFWsr/KoUfxfcVo3kSlj+k/aI1z4zmkNIh6HK30q+wM87eQPAkKw2q/qJ0E/n8S6O5Lub5Dpy8YxYYvpuwqTBUNRUSFg5EVKpiFw9V95yoJ86GPjdc4TGT/MPAEApdKetBy/2rJhlXYi5Aj8eDJfGcOPHfD9iKzU/lL0u36XSt67EAF9PqneJBlfDiu9kfBdeD3Taq7nZAeV3vZbSD/bLgxiD1J5mVxUuJ50xIbl4wo7G12TjfXikfUQeSztGnCjS6ZA2J36vRU8ePZ3ETqGmKhG8+nc0wZIX69QveVjdQScfkFZsE8/HDJoXfOc1Hn2W0uBLpdeduDTVqzyCUq/LnlcYS0Vkm46orK2Pabe4nVMjednJcst9x3Cwt6VkiOi62u50B+N9bSh/KpRBuFL6RosFXsySf+P2MN2Fv0is2JqKDk6OcZdA5MxvlRdSoqtqZVh9fpR6JG0RnKIKiNXunCl+8lT6CF4cfmN5lB3rjPNfkUSe5CrJnVYnDGD1gshfjN/jIm2qjroLbv83Y2IVDk8SSG21tlwC5Srz7vk2O3Qqmc=</value>
            </setting>
        </CrmPlayground.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.Client" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.TeamFoundation.DeleteTeamProject" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.23.0.0" newVersion="2.23.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ServiceBus" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>